
section{
    background-color: var(--card-bg-color);
    border-radius: 20px;
    padding: 15px;
}

.btn-voltar{
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #333;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 2px 5 px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.btn-voltar:hover{
    background-color: var(--focus-hover-color);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.pais{
    display: flex;
    align-items: center;
    gap: 60px;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
}

.weather-wrapper{
    display: flex;
    gap: 20px;
    flex: 1;
}

.pais-infos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.previsao{
    flex: 2;
}

#country-flag {
    width: 300px;
    border-radius: 8px;
}