
section{
    background-color: var(--card-bg-color);
    border-radius: 20px;
    padding: 15px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.weather-wrapper{
    display: flex;
    gap: 20px;
    flex: 1;
}

.pais-infos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.previsao{
    flex: 2;
}

#country-flag {
    width: 300px;
    border-radius: 8px;
}